---
layout: default
title: Cowork
---

<h1>What is Coworking?</h1>
<hr/>

<p>
The idea is simple: independent professionals and those with workplace flexibility work better together than they do alone. Coworking spaces are about community-building and sustainability. Participants agree to uphold the values set forth by the movement’s founders, as well as interact and share with one another. We are about creating better places to work and as a result, a better way to work. 
</p>

<h1>Locations</h1>
<hr/>

<div id="insert-here"></div>

<hr />
<footer>
  Is your cowork location not listed? No problem, <a href="help.html">here are the instructions to add one.</a>
</footer>

<script type="underscore/template" id="cowork-template">
  <h3><%= city.city %>, <%= city.state %></h3>
  <% _.each(coworks, function(work) {  %>
    <div class="cowork">
      <a href="<%= work.website %>"><%= work.name %></a>
    </div>
  <% }); %>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    while (0 !== currentIndex) {
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }

  function position(pos) {
    console.log(pos);
  }

  var data = {{ site.data | jsonify }};

  $(function() {
    if(navigator.geolocation) {
      console.log(navigator.geolocation.getCurrentPosition(position));
    }

    var sortedCities = _.sortBy(data._cities, function(city) { return city.state + ", " + city.city; });
    _.each(sortedCities, function(city) {
      var randomizedCoworks = shuffle(data[city.filename]);
      var tmp = _.template($("#cowork-template").html(), { city: city, coworks: randomizedCoworks, _: _ });
      $("#insert-here").append(tmp);
    });
  });
</script>
